.App {  
  margin: 20px;
}
.square{
  font-size: 12px;
  width: 24px;
  height: 24px;
  overflow: auto;  
  vertical-align: top;
}
.game-info{  
  flex: 1; 
  width: 100%;  
}
.board-row{
  font-size: 0;
}
.game-board{
  flex-wrap: wrap;
  width: 100%;
  flex: 2;
  display: flex;  
}
.board{
  flex: 2;
  text-align: center;
}
.player{
  flex: 1;
  text-align: center;
}
.game{
  display: flex;
}
.data{
  text-align: center;  
}
@media only screen and (max-width: 906px){
  .game{
    display: flex;
    flex-direction: column;
  }
  .data{
    text-align: center;
    margin-top: 2rem;
  }
} 
@media only screen and (max-width: 667px){
  .game-board{
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;  
  }
  .board{
    flex: 2;
    text-align: center;
    order: 2;
  }
  .player{
    flex: 1;
    text-align: center;
    order: 1;
  }
}
.btn-move{
  width: 12rem;
}
